template(name='grid')
    .ui.stackable.padded.grid
        .sixteen.wide.column
            .ui.header 
                +icolor name='food' 
                |food
            .ui.stackable.cards
                a.ui.link.card(href="/m/meal")
                    .content 
                        .icon.header
                            +icolor name='soup-plate'
                            |meals
                a.ui.link.card(href="/m/ingredient")
                    .content 
                        .icon.header
                            +icolor name='ingredients'
                            |ingredients
                //- a.ui.link.card(href="")
                //-     .content 
                //-         a.icon.header(href="/recipes")
                //-             +icolor name='beer-recipe'
                //-             |recipes
                a.ui.link.card(href="/m/dishes")
                    .content 
                        .icon.header
                            +icolor name='real-food-for-meals'
                            |dishes
            .ui.header 
                +icolor name='shopping-cart' 
                |commerce
            .ui.stackable.cards
                a.ui.link.card(href="/m/product")
                    .content 
                        .icon.header
                            +icolor name='product'
                            |products
                a.ui.link.card(href="/m/service")
                    .content 
                        .icon.header
                            +icolor name='wrench'
                            |services
                a.ui.link.card(href="/m/order")
                    .content 
                        .icon.header
                            +icolor name='order-history'
                            |orders
                            
            .ui.header 
                +icolor name='chat' 
                |social
            .ui.stackable.cards
                a.ui.link.card(href="/m/tribe")
                    .content 
                        .icon.header
                            +icolor name='log-cabin'
                            |tribes
                a.ui.link.card(href="/chat")
                    .content 
                        .icon.header
                            +icolor name='chat'
                            |chat
