template(name='grid')
    .ui.stackable.padded.grid
        .sixteen.wide.column
            .ui.inline.header 
                +icolor name='food' 
                |food
            a.ui.link.card(href="/m/meal")
                .content 
                    .icon.header
                        +icolor name='soup-plate'
                        |meals
            a.ui.link.card(href="/m/ingredient")
                .content 
                    .icon.header
                        +icolor name='ingredients'
                        |ingredients
            a.ui.link.card(href="/m/dish")
                .content 
                    .icon.header
                        +icolor name='real-food-for-meals'
                        |dishes
            .ui.inline.header 
                +icolor name='shopping-cart' 
                |commerce
            a.ui.link.card(href="/m/product")
                .content 
                    .icon.header
                        +icolor name='product'
                        |products
            a.ui.link.card(href="/m/service")
                .content 
                    .icon.header
                        +icolor name='wrench'
                        |services
            a.ui.link.card(href="/m/order")
                .content 
                    .icon.header
                        +icolor name='order-history'
                        |orders
                            
            .ui.inline.header 
                +icolor name='chat' 
                |social
            a.ui.link.card(href="/m/user")
                .content 
                    .icon.header
                        +icolor name='groups'
                        |users
            a.ui.link.card(href="/m/tribe")
                .content 
                    .icon.header
                        +icolor name='log-cabin'
                        |tribes
            a.ui.link.card(href="/chat")
                .content 
                    .icon.header
                        +icolor name='chat'
                        |chat
            if is_admin
                .ui.inline.header
                    +icolor name='shield'
                    |admin
                a.ui.link.card(href="/m/model")
                    .content 
                        .icon.header
                            +icolor name='database'
                            |models
                a.ui.link.card(href="/m/task")
                    .content 
                        .icon.header
                            +icolor name='tasks'
                            |tasks
