template(name='grid')
    .ui.stackable.padded.grid
        .sixteen.wide.column
            .ui.stackable.cards
                .ui.card
                    .content 
                        a.icon.header(href="/")
                            +icolor name='campfire'
                            |home
                .ui.card
                    .content 
                        a.icon.header(href="/meals")
                            +icolor name='soup-plate'
                            |meals
                .ui.card
                    .content 
                        a.icon.header(href="/ingredients")
                            +icolor name='ingredients'
                            |ingredients
                .ui.card
                    .content 
                        a.icon.header(href="/recipes")
                            +icolor name='beer-recipe'
                            |recipes
                .ui.card
                    .content 
                        a.icon.header(href="/dishes")
                            +icolor name='meal'
                            |dishes
                .ui.card
                    .content 
                        a.icon.header(href="/tribes")
                            +icolor name='log-cabin'
                            |tribes
