template(name='grid')
    .ui.stackable.padded.grid
        .sixteen.wide.column
            .ui.hidden.divider
            .ui.stackable.cards
                .ui.card
                    .content 
                        a.icon.header(href="/")
                            i.newspaper.icon
                            |docs
            .ui.header 
                i.chat.icon
                |social                
            .ui.stackable.cards
                .ui.card
                    .content 
                        a.icon.header(href="/users")
                            i.users.icon
                            |users
                .ui.card
                    .content 
                        a.icon.header(href="/tasks")
                            i.tasks.icon
                            |tasks
                .ui.card
                    .content 
                        a.icon.header(href="/votes")
                            i.tasks.icon
                            |votes
                .ui.card
                    .content 
                        a.icon.header(href="/events")
                            i.calendar.icon
                            |events
                .ui.card
                    .content 
                        a.icon.header(href="/groups")
                            i.tasks.icon
                            |groups
            .ui.header 
                i.money.icon
                |commerce            
            .ui.stackable.cards
                .ui.card
                    .content 
                        a.icon.header(href="/cart")
                            i.shopping.cart.icon
                            |cart
                .ui.card
                    .content 
                        a.icon.header(href="/offers")
                            i.shopping.cart.icon
                            |offers
                .ui.card
                    .content 
                        a.icon.header(href="/services")
                            i.wrench.icon
                            |services
                .ui.card
                    .content 
                        a.icon.header(href="/products")
                            i.shopping.bag.icon
                            |products
                .ui.card
                    .content 
                        a.icon.header(href="/ads")
                            i.bullhorn.icon
                            |ads
            .ui.header 
                i.line.chart.icon
                |project management
            .ui.stackable.cards
                .ui.card
                    .content 
                        a.icon.header(href="/minutes")
                            i.clock.icon
                            |minutes
                .ui.card
                    .content 
                        a.icon.header(href="/timecard")
                            i.notepad.icon
                            |timecard
                .ui.card
                    .content 
                        a.icon.header(href="/work_orders")
                            i.shovel.icon
                            |work orders
                .ui.card
                    .content 
                        a.icon.header(href="/work")
                            i.pencil.icon
                            |work
