template(name='business_members')
    .ui.header members
    
template(name='business_voting')
    .ui.header voting
    
template(name='business_meals')
    .ui.header meals
    
template(name='business_dishes')
    .ui.header dishes
    
template(name='business_food')
    .ui.header food
    
template(name='business_products')
    if is_admin
        .ui.circular.icon.button.add_product
            i.large.plus.icon
    each products 
        +product_card
    
template(name='business_services')
    .ui.header services
    
template(name='business_stats')
    .ui.header stats
    
template(name='business_forume')
    .ui.header forum
    
template(name='business_posts')
    .ui.header members
    
template(name='business_events')
    .ui.header events
    
template(name='business_credit')
    .ui.header credit
    
template(name='business_settings')
    .ui.header settings
