template(name='tribe_members')
    .ui.header members
    
template(name='tribe_voting')
    .ui.header voting
    
template(name='tribe_meals')
    .ui.header meals
    
template(name='tribe_dishes')
    .ui.header dishes
    
template(name='tribe_food')
    .ui.header food
    
template(name='tribe_products')
    .ui.header products
    
template(name='tribe_services')
    .ui.header services
    
template(name='tribe_stats')
    .ui.header stats
    
template(name='tribe_forume')
    .ui.header forum
    
template(name='tribe_posts')
    .ui.header members
    
template(name='tribe_events')
    .ui.header events
    
template(name='tribe_credit')
    .ui.header credit
    
template(name='tribe_settings')
    .ui.header settings
