template(name='tribe_edit')
    with cd
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                .eight.wide.column
                    .ui.header 
                        i.pencil.icon
                        if icon
                            +icolor name=icon
                        |edit '#{title}' tribe
                .four.wide.column
                    a.ui.big.circular.basic.button(href="/tribe/#{slug}" title='save')
                        i.green.checkmark.icon
                        |save
            .row
                .four.wide.column 
                    //- .ui.header
                    //-     |#{title}
                    +remove_button
                    +color_icon_edit key='icon' label='icon'
                    div
                    +slug_edit key='slug' label='tribe slug'
                    +array_edit key='tags' label='tags' icon='tags'
                    +link_edit key='link' label='link' icon='link'
                    +single_user_edit key='leader' label='leader'
                .six.wide.column 
                    +text_edit key='title' label='title' icon='title'
                    .spacer
                    +image_edit key='image_id' label='image' icon='image'
                    .spacer
                    +text_edit key='address' label='address' icon='marker'
                    .spacer
                    +text_edit key='address_link' label='address link' icon='marker'
                .six.wide.column
                    +html_edit key='description' label='description' icon='content'
                     
