template(name='user_dashboard')             
    //- .ui.center.aligned.header 
    //-     i.dashboard.grey.icon
    //-     |dashboard
    .ui.stackable.padded.grid
        .row
            .eight.wide.column
                .ui.inline.header 
                    +icolor name='food-receiver'
                    |meals offered
                if is_current_user
                    .ui.basic.icon.circular.button.offer_new_meal(title='add new offered meal')
                        i.plus.icon
                div
                each offered_meals
                    .ui.small.header #{title}
            .eight.wide.column
                .ui.inline.header 
                    +icolor name='food-donor'
                    |meals consumed
                if is_current_user
                    .ui.basic.icon.circular.button.add_consumed_meal(title='add new consumed meal')
                        i.plus.icon
                div
                each consumed_meals
                    .ui.small.header #{title}
        .three.column.row
            .column
                .ui.header
                    +icolor name='filled-like'
                    |liked ingredients
                .ui.header 
                    +icolor name='dislike'
                    |disliked ingredients
            .column
                .ui.header 
                    +icolor name='real-food-for-meals'
                    |dishes
        .three.column.row
            .column
                +user_alerts_small
            .column
                .ui.header 
                    +icolor name='meal'
                    |meals
                .ui.list 
                    .item from yesterday
                    .item from last week
                    .item from last month
            .column
            
        .three.column.row
            .column
                +user_stats_small
