template(name='user_dashboard')             
    //- .ui.center.aligned.header 
    //-     i.dashboard.grey.icon
    //-     |dashboard
    .ui.stackable.padded.grid
        .row
            .eight.wide.column
                .ui.header 
                    +icolor name='food-receiver'
                    |meals offered
                if is_current_user
                    .ui.basic.button.offer_new_meal
                        i.green.plus.icon
                        |offer new meal
                each offered_meals
                    .ui.small.header #{title}
            .eight.wide.column
                .ui.header 
                    +icolor name='food-donor'
                    |meals consumed
        .three.column.row
            .column
                .ui.header liked ingredients
                .ui.header disliked ingredients
            .column
                .ui.header dishes
        .three.column.row
            .column
                +user_alerts_small
            .column
                .ui.small.header meals
                .ui.list 
                    .item from yesterday
                    .item from last week
                    .item from last month
            .column
            
        .three.column.row
            .column
                +user_stats_small
